/*INIZIO setup generale*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*FINE setup generale*/
/*INIZIO colonne in dodicesimi*/
.col-1{
    width: calc(100%/12);
}
.col-2{
    width: calc((100%/12)*2);
}
.col-3{
    width: calc((100%/12)*3);
}
.col-4{
    width: calc((100%/12)*4);
}
.col-5{
    width: calc((100%/12)*5);
}
.col-6{
    width: 50%;
}
.col-7{
    width: calc((100%/12)*7);
}
.col-8{
    width: calc((100%/12)*8);
}
.col-9{
    width: calc((100%/12)*9);
}
.col-10{
    width: calc((100%/12)*10);
}
.col-11{
    width: calc((100%/12)*11);
}
.col-12{
    width: 100%;
}
/*FINE colonne in dodicesimi*/

/*INIZIO root*/

:root{
    --bg-header-black: #080b1262;
    --bg-sidemenu-black: #000000;
    --bg-footer-grey: #282828;
    --bg-music-section-lightblack: #141922;
    --color-text-white: #ffffff;
    --color-text-grey: #6e6e6e;
    --color-bars-lightgrey: #c1c1c1;
    --color-bars-green: #adff2f;

}

/*FINE root*/
/*INIZIO utility*/

.container-music{
    width: calc(100% - 1rem);
}

.container-footer{
    width: 99%;
}

.row{
    display: flex;
}

.flex-wrap{
    flex-wrap: wrap;
}

.flex{
    display: flex;
}

.flex-row-reverse{
    flex-direction: row-reverse;
}

.flex-column{
    flex-direction: column;
}

.justify-content-center{
    justify-content: center;
}

.justify-content-between{
    justify-content: space-between;
}

.align-items-center{
    align-items: center;
}

.align-self-start{
    align-self: flex-start;
}

.align-self-center{
    align-self: center;
}


.relative{
    position: relative;
}

.absolute{
    position: absolute;
}

ul{
    list-style: none;
}

a {
    text-decoration: none;
}

.resize{
    width: 30px;
    height: 30px;
}

.resize-40px{
    width: 40px;
}

.resize-20px{
    width: 20px;
    height: 20px;
}

.resize-btn{
    font-size: 0.75em;
}

.opacity-0{
    opacity: 0;
}

.top-50{
    top: 50%;
}

.left-50{
    left: 50%;
}

.translate-50{
    transform: translate(-50%, -50%);
}


/*INIZIO Scrollbar*/

::-webkit-scrollbar {
    width: 10px;
  }

::-webkit-scrollbar-track {
    /*box-shadow: inset 0 0 5px grey; */
    border-radius: 10px;
  }

::-webkit-scrollbar-thumb {
    background: var(--color-text-grey); 
    border-radius: 10px;
  }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--color-bars-lightgrey); 
  }
/*FINE Scrollbar*/

/*FINE utility*/
/*INIZIO margins*/

.margin-top-auto{
    margin-top: auto;
}

.margin-bottom-auto{
    margin-bottom: auto;
}

.margin-right-4{
    margin-right: 1rem;
}

.margin-left--1px{
    margin-left: -1px;
}

.margin-left--2px{
    margin-left: -2px;
}

.margin-left--3px{
    margin-left: -3px;
}

.margin-left--15px{
    margin-left: -15px;
}

.margin-bot-5px{
    margin-bottom: 5px;
}

.margins-x-4{
    margin: 0 -1rem;
}


/*FINE margins*/
/*INIZIO paddings*/

.p-bot-5px{
    padding-bottom: 5px;
}

.p-bot-10px{
    padding-bottom: 10px;
}

.p-top-5px{
    padding-top: 5px;
}

.p-top-16px{
    padding-top: 16px;
}

.p-right-4{
    padding-right: 1rem;
}

.p-right-2px{
    padding-right: 2px;
}

.p-left-2px{
    padding-left: 2px;
}

.p-left-15px{
    padding-left: 15px;
}

.p-r-5px{
    padding-right: 5px;
}

.p-rbl-4{
    padding: 0 1rem 1rem 1rem;
}

.p-x-4{
    padding: 0 1rem;
}

.p-y-4{
    padding: 1rem 0;
}

.p-y-5px{
    padding: 5px 0;
}

/*FINE paddings*/
/*INIZIO gaps*/

.gap-5px{
    gap: 5px;
}

.gap-8px{
    gap: 8px;
}

.gap-10px{
    gap: 10px;
}

.gap-12px{
    gap: 12px;
}

.gap-4{
    gap: 1rem;
}

/*FINE gaps*/
/*INIZIO width*/

.width-100px{
    width: 100px;
}

.width-120px{
    width: 120px;
}

.max-width-180px{
    max-width: 180px;
}

.width-200px{
    width: 200px;
}

.width-60{
    width: 60%;
}

.width-100{
    width: 100%;
}

.width-hoc{
    width: calc(100% - 200px);
}

.min-width-100px{
    min-width: 100px;
}

.min-width-120px{
    min-width: 120px;
}


/*FINE width*/
/*INIZIO height*/

.height-fit-content{
    height: fit-content;
}

.height-65px{
    height: 65.2px;
}

.min-height-60px{
    min-height: 60px;
}

/*FINE height*/
/*INIZIO typography*/

.montserrat{
    font-family: 'montserrat', sans-serif;
}

.size-8px{
    font-size: 8px;
}

.size-10px{
    font-size: 10px;
}

.size-12px{
    font-size: 12px;
}

.size-20px{
    font-size: 20px;
}

.size-22px{
    font-size: 22px;
}

.weight-600{
    font-weight: 600;
}

.weight-700{
    font-weight: 700;
}

.weight-800{
    font-weight: 800;
}

.line-height-0-7{
    line-height: 0.7;
}

.line-height-2{
    line-height: 2;
}

.text-align-center{
    text-align: center;
}

/*FINE typography*/
/*INIZIO colors*/

.white {
    color: var(--color-text-white);
}

.grey {
    color: var(--color-text-grey);
}

.black{
    color: var(--bg-sidemenu-black);
}

.bg-color-grey{
    background-color: var(--color-text-grey);
}
/*FINE colors*/
/*INIZIO header*/

header{
    height: 10vh;
    min-height: 60px;
    width: 100%;
    background-color: var(--bg-header-black);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
}

.btn {

    padding: 8px 35px;
    border-radius: 17px;
    border: 1px solid var(--color-text-white);

}

.btn:hover {
    transform: scale(1.1);
}

/*FINE header*/
/*INIZIO main*/

.side-menu{
    height: 90vh;
    background-color: var(--bg-sidemenu-black);
    position: fixed;
    top:0;
    left:0;
    z-index: 2; 
}

.logo{
    cursor: pointer;
}

.side-menu .home{
    fill: var(--color-text-grey);
}

.side-menu .search{
    fill: var(--color-text-grey);
}

.side-menu .libreria{
    fill: var(--color-text-grey);
}

.side-menu .download{
    fill: var(--color-text-grey)
}

.square {
    height: 30px;
    width: 30px;
    background-color: var(--color-text-grey);
}

.avatar{
    width: 30px;
    height: 30px;
    border: 1px solid var(--bg-sidemenu-black);
    border-radius: 16px;
    overflow: hidden;
}

.profile{
    border-top: 1px solid #6e6e6ea7;
}

.music{
    height: 90vh;
    position:fixed;
    background-color: var(--bg-music-section-lightblack);
    overflow-y: auto;
    right: 0;
}

.filter{
    filter: brightness(1);
}

.top-supporter{
    width: 100%;
    height: 11vh;
    min-height: 67px;
    background-color: var(--bg-music-section-lightblack);
}

.music ul{
    list-style: none;
}

.circle{
    max-width: 180px;
    border-radius: 91px;
    overflow: hidden;
}

.side-menu ul a:hover svg{
    fill: var(--color-text-white);
}

.side-menu ul a:hover span{
    color: var(--color-text-white);
}

.side-menu ul a:hover .square{
    background-color: var(--color-text-white);
}

.side-menu .user a:hover svg{
    fill: var(--color-text-white);
}

.side-menu .user a:hover span{
    color: var(--color-text-white);
}

.border-left-menu:hover{
    box-shadow: -4px 0 var(--color-bars-green);
}

.border-bot-menu::after{
    display: block;
    content: "";
    border-bottom: solid 1px var(--color-bars-green);
    transition: all 0.5s ease-in-out 0s;
    transform: scaleX(0);
}

.border-bot-menu:hover::after{
    transform: scaleX(0.5);
    
}

.music section a:hover .opacity-0{
    opacity: 1;
    transform: scale(1.5);
}

.music section a:hover .filter{
    filter: brightness(0.5);
}

/*FINE main*/
/*INIZIO footer*/

footer{
    width: 100%;
    height: 10vh;
    min-height: 60px;
    background-color: var(--bg-footer-grey);
    position: fixed ;
    left: 0;
    bottom: 0;
    z-index: 3;
}

.circle-play{
    padding: 5px 6px 5px 8px;
    border: 3px solid var(--color-text-white);
    border-radius: 17px;
}

.grey-bar{
    width: 85%;
    background-color: var(--color-text-grey);
    border-radius: 2px;
}

.light-bar{
    border: 2px solid var(--color-bars-lightgrey);
    border-radius: 2px;
    width: 20%;
}

.marble{
    position: absolute;
    border: 5px;
    border-style: solid;
    border-color: var(--color-text-white);
    border-radius: 11px;
    top: -5px;
    right: -6px;
    transform: scale(0);
}

.speaker-bar{
    width: 50%;
    background-color: var(--color-text-grey);
    border-radius: 2px;
}

.volume-bar{
    border: 2px solid var(--color-bars-lightgrey);
    border-radius: 2px;
    width: 15%;
}

footer .listening a:hover{
    text-decoration: underline;
}

footer .heart a:hover .grey{
    color: var(--color-text-white);
}

footer .commands a:hover .circle-play{
    transform: scale(1.2);
}

footer .bar a:hover .marble{
    transform: scale(1);
}

footer .bar a:hover .light-bar{
    border-color: var(--color-bars-green);
}

footer .output a:hover .marble{
    transform: scale(1);
}

footer .output a:hover .volume-bar{
    border-color: var(--color-bars-green);
}

/*FINE footer*/
/*INIZIO mediaquery*/

/*INIZIO 1024px*/
@media screen and (max-width: 1024px){

    .main-menu .categories{
        justify-content: center;
    }


    .strip{
        flex-wrap: wrap;
    }

    .strip .col-2{
        width: 25%;
    }
    
}
/*FINE 1024px*/

/*INIZIO 976px*/
@media screen and (max-width: 976px){

    .strip .col-2{
        width: 33%;
    }
    
}
/*FINE 976px*/


/*INIZIO 700px*/
@media screen and (max-width: 700px) {
    
    .strip .col-2{
        width: 50%;
    }

}
/*FINE 700px*/

/*INIZIO 480px*/
@media screen and (max-width: 480px) {

/*INIZIO main*/

    main .width-200px{
        width: calc(100%/12);
    }
    
    main .width-hoc{
        width: calc(100% - (100%/12));
    }

    main .p-x-4{
        padding: 0;
    }

    .strip .col-2{
        width:50%;
    }


/*FINE main*/
/*INIZIO side-menu*/

    .side-menu .logo .spotify-logo--text{
        display: none;
    }

    .side-menu .logo .opacity-0{
        opacity: 1;
    }

    .side-menu .home-menu{
        align-items: center;
    }

    .side-menu .home-menu span{
        display: none;
    }

    .side-menu h3{
        display: none;
    }

    .side-menu .line-height-2 li{
        display: none;
    }

    .side-menu .download{
        justify-content: center;
    }

    .side-menu .download span{
        display: none;
    }

    .side-menu .profile{
        justify-content: center;
    }

    .side-menu .profile span{
        display: none;
    }

    .side-menu .profile .avatar{
        width: 20px;
        height: 20px;
    }

    .side-menu .profile .resize{
        width: 20px;
        height: 20px;
    }

/*FINE side-menu*/
/*INIZIO footer*/

    footer .listening .resize-40px{
        width: 40%;
    }

    footer .like .heart{
        transform: translate(-5px, 0);
    }

    footer .like .gap-4{
        gap: 0;
    }

/*FINE footer*/

}
/*FINE 480px*/




















/*INIZIO debug*/

    /*INIZIO d-header*/
    .debug header{
        height: 10vh;
        min-height: 60px;
        width: 100%;
        background-color: rgba(137, 43, 226, 0.562);
        position: fixed;
        top: 0;
        right: 0;
        z-index: 1;
    }
    /*FINE d-header*/
    /*INIZIO d-main*/

    .debug .side-menu{
        min-width: 200px;
        width: 200px;
        height: 90vh;
        background-color: blue;
        position: fixed;
        top:0;
        left:0;
        z-index: 2; 
    }

    .debug .music{
        height: 100%;
        width: 100%;
        position:fixed;
        left:200px;
        bottom: 10vh;
        background-color: fuchsia;
        overflow-y: auto;
    }



    /*FINE d-main*/
    /*INIZIO d-footer*/
    .debug footer{
        
        width: 100%;
        height: 10vh;
        min-height: 60px;
        background-color: chartreuse;
        position: fixed ;
        left: 0;
        bottom: 0;
        z-index: 3;
    }


    /*FINE d-footer*/

/*FINE debug*/