/*INIZIO setup generale*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*FINE setup generale*/
/*INIZIO colonne in dodicesimi*/
.col-1{
    width: calc(100%/12);
}
.col-2{
    width: calc((100%/12)*2);
}
.col-3{
    width: calc((100%/12)*3);
}
.col-4{
    width: calc((100%/12)*4);
}
.col-5{
    width: calc((100%/12)*5);
}
.col-6{
    width: 50%;
}
.col-7{
    width: calc((100%/12)*7);
}
.col-8{
    width: calc((100%/12)*8);
}
.col-9{
    width: calc((100%/12)*9);
}
.col-10{
    width: calc((100%/12)*10);
}
.col-11{
    width: calc((100%/12)*11);
}
.col-12{
    width: 100%;
}
/*FINE colonne in dodicesimi*/

/*INIZIO root*/

:root{
    --bg-header-black: #080b1262;
    --bg-sidemenu-black: #000000;
    --bg-footer-grey: #282828;
    --bg-music-section-lightblack: #141922;
    --color-text-white: #ffffff;
    --color-text-grey: #6e6e6e;

}

/*FINE root*/
/*INIZIO utility*/

.container-music{
    width: calc(100% - 1rem);
}

.row{
    display: flex;
}

.flex-wrap{
    flex-wrap: wrap;
}

.flex{
    display: flex;
}

.inline-flex{
    display: inline-flex;
}

.flex-row-reverse{
    flex-direction: row-reverse;
}

.flex-column{
    flex-direction: column;
}

.justify-content-center{
    justify-content: center;
}

.justify-content-end{
    justify-content: flex-end;
}

.align-items-center{
    align-items: center;
}

.align-self-start{
    align-self: flex-start;
}


.relative{
    position: relative;
}

.top-140px {
    top: 140px;
}

.left-10px{
    left: 10px;
}


ul{
    list-style: none;
}

a {
    text-decoration: none;
}

.resize{
    width: 30px;
    height: 30px;
}

.resize-20px{
    width: 20px;
    height: 20px;
}

.resize-200{
    width: 200px;
}

/*FINE utility*/
/*INIZIO margins*/

.margin-top-auto{
    margin-top: auto;
}

.margin-bottom-auto{
    margin-bottom: auto;
}

.margin-right-4{
    margin-right: 1rem;
}

.margin-left--1px{
    margin-left: -1px;
}

.margin-left--2px{
    margin-left: -2px;
}

.margin-left--3px{
    margin-left: -3px;
}

.margin-bot-5px{
    margin-bottom: 5px;
}

.margins-x-4{
    margin: 0 -1rem;
}


/*FINE margins*/
/*INIZIO paddings*/

.p-4{
    padding: 1rem;
}

.p-bot-5px{
    padding-bottom: 5px;
}

.p-bot-7px{
    padding-bottom: 7px;
}

.p-top-5px{
    padding-top: 5px;
}

.p-top-10px{
    padding-top: 10px;
}

.p-left-4{
    padding-left: 1rem;
}

.p-right-4{
    padding-right: 1rem;
}

/*FINE paddings*/
/*INIZIO gaps*/

.gap-5px{
    gap: 5px;
}

.gap-8px{
    gap: 8px;
}

.gap-12px{
    gap: 12px;
}


/*FINE gaps*/



/*INIZIO width*/

.width-100px{
    width: 100px;
}

.width-150px{
    width: 150px;
}

.width-200px{
    width: 200px;
}

.width-100{
    width: 100%;
}

.width-hoc{
    width: calc(100% - 200px);
}


/*FINE width*/
/*INIZIO height*/

.height-fit-content{
    height: fit-content;
}

.height-65px{
    height: 65.2px;
}

.min-height-60px{
    min-height: 60px;
}

/*FINE height*/



/*INIZIO typography*/

.montserrat{
    font-family: 'montserrat', sans-serif;
}

.size-10px{
    font-size: 10px;
}

.size-12px{
    font-size: 12px;
}

.size-14px{
    font-size: 14px;
}

.size-16px{
    font-size: 16px;
}

.size-18px{
    font-size: 18px;
}

.size-20px{
    font-size: 20px;
}

.size-25px{
    font-size: 25px;
}

.weight-600{
    font-weight: 600;
}

.weight-700{
    font-weight: 700;
}

.line-height-1-5{
    line-height: 1.5;
}

.line-height-2{
    line-height: 2;
}

/*FINE typography*/
/*INIZIO colors*/

.white {
    color: var(--color-text-white);
}

.grey {
    color: var(--color-text-grey);
}

.black{
    color: var(--bg-sidemenu-black);
}

.bg-color-grey{
    background-color: var(--color-text-grey);
}
/*FINE colors*/




/*INIZIO header*/

header{
    height: 10vh;
    min-height: 60px;
    width: 100%;
    background-color: var(--bg-header-black);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
}


.btn {

    padding: 8px 35px;
    border-radius: 17px;
    border: 1px solid var(--color-text-white);

}



/*FINE header*/
/*INIZIO main*/

.side-menu{
    height: 90vh;
    background-color: var(--bg-sidemenu-black);
    position: fixed;
    top:0;
    left:0;
    z-index: 2; 
}

.square {
    height: 30px;
    width: 30px;
    background-color: var(--color-text-grey);
}

.avatar{
    width: 30px;
    height: 30px;
    border: 1px solid var(--bg-sidemenu-black);
    border-radius: 16px;
    overflow: hidden;
}

.profile{
    border-top: 1px solid #6e6e6ea7;
}

.music{
    height: 90vh;
    position:fixed;
   /* left:calc((100%/12)*1);
    bottom: 10vh;*/
    background-color: var(--bg-music-section-lightblack);
    overflow-y: auto;
    right: 0;
}

.music ul{
    list-style: none;
}


/*FINE main*/
/*INIZIO footer*/

footer{
        
    width: 100%;
    height: 10vh;
    min-height: 60px;
    background-color: var(--bg-footer-grey);
    position: fixed ;
    left: 0;
    bottom: 0;
    z-index: 3;
}


/*FINE footer*/






















/*INIZIO debug*/

    /*INIZIO d-header*/
    .debug header{
        height: 10vh;
        min-height: 60px;
        width: 100%;
        background-color: rgba(137, 43, 226, 0.562);
        position: fixed;
        top: 0;
        right: 0;
        z-index: 1;
    }
    /*FINE d-header*/
    /*INIZIO d-main*/

    .debug .side-menu{
        min-width: 200px;
        width: 200px;
        height: 90vh;
        background-color: blue;
        position: fixed;
        top:0;
        left:0;
        z-index: 2; 
    }

    .debug .music{
        height: 100%;
        width: 100%;
        position:fixed;
        left:200px;
        bottom: 10vh;
        background-color: fuchsia;
        overflow-y: auto;
    }



    /*FINE d-main*/
    /*INIZIO d-footer*/
    .debug footer{
        
        width: 100%;
        height: 10vh;
        min-height: 60px;
        background-color: chartreuse;
        position: fixed ;
        left: 0;
        bottom: 0;
        z-index: 3;
    }


    /*FINE d-footer*/

/*FINE debug*/